<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Voir &amp; Entendre{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Voir et entendre</a>
                </div>

                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <section class="container">
            {% block body %}{% endblock %}
        </section>
        
        <footer class="container">
            
        </footer>
        
        <script src="{{ asset('jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>